.DS_Store
.idea
.vscode**

todo.txt
*tmp

.bash_history

**.pyc
*.python_history
*__pycache__

*/node_modules/
*/npm-debug.log

*.psql
*.sql
*.dump

celerybeat-schedule

*static
*media

web/*/
!web/web
