Django
gunicorn
uvicorn[standard]
uvicorn-worker
psycopg[binary]

whitenoise

redis  # KeyDB by Snap is used in the podman backend.
celery[redis]
django-celery-beat
hiredis

pymemcache

wagtail
wagtailmedia
